@CHARSET "UTF-8";

.table > tbody > tr > td, 
.table > tbody > tr > th, 
.table > tfoot > tr > td, 
.table > tfoot > tr > th,
.table > thead > tr > td, 
.table > thead > tr > th {
	border-top: 0;
	border-bottom: none;
    padding: 2px;
}

.table-striped > tbody > tr:nth-child(odd) > td {
    background-color: #e0ecf8;
}

